body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: contain;
  background-color: #333333;
  color: #ffffff;
}

html,
body,
#root {
  height: 100vh;
}

img {
  border-style: none;
  height: auto;
  max-width: 100%;
}

p {
  overflow: hidden;
  text-overflow: ellipsis;
}

a {
  color: #0589f5;
}

code {
  background-color: #777777;
  font-family: source-code-pro, Menlo, Monaco, Consolas, monospace;
  padding: 2px;
}
